<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New student</title>
</head>
<body>
    <h1> Register new student</h1>
    <form action=" ">
        <div>
            <label for="name">Student Id</label>
            <input type="number" id="id" name="id" min="100" max="999">
        </div>
        <div>
            <label for="name">full_name</label>
            <input type="text" id="full_name" name="full_name">
        </div>
        <div>
            <label for="name">email</label>
            <input type="email" id="email" name="email">
        </div>
        <div>
            <label for="name">password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="name">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div>
        <div>
            <label for="name">Phone Number</label>
            <input type="number" id="phone" name="phone" min="1000000000" max="9999999999" placeholder="+254........">
        </div>
</body>
</html>