<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    <h1>All Resources</h1>
    <ul>
        <% resources.forEach(resource => { %>
            <li> <%=resource.resource_id%> - Name: <%= resource.name %>, Description: <%= resource.description %> </li>
        <% }) %>

    </ul>
</body>
</html>